.form {
    color: blue; 
}

.form__amountEuro {
    color: green;
}

.form__exchangeRate {
    color: black;
}

.form__button {
    background-color: rgb(33 138 127);
    color: white;
    border: 2px solid;
    border-radius: 50%;
    padding: 8px 16px;
}

.form__button:hover {
    background-color: black;
    cursor: pointer;
}


.form__result {
    color: green;
}