html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    text-align: center;
    max-width: 400px;
    max-height: 400px;
    background-color: rgb(220 244 245 / 46%);
    padding: 50px;
    margin: 20px auto;
    border: 2px solid blue;
    border-radius: 50%;
}

.form {
    color: blue;
    padding: 10px;
    margin: 10px;
}

.form__amountEuro {
    color: red;
}

.form__exchangeRate {
    color: black;
}

.form__button {
    background-color: rgb(233, 13, 13);
    color: white;
    border: 2px solid;
    border-radius: 50%;
}

.form__button:hover {
    background-color: black;
    cursor: pointer;
}


.form__result {
    color: red;
}