html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    text-align: center;
    max-width: 1000px;
    background-color: rgb(220 244 245 / 46%);
    padding: 50px;
    margin: 20px auto;
    border: 2px solid blue;
    overflow-x: auto;
}

